<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings file="Local.config">
    <add key="ApplicationName" value="CertiPay.Services.PDF" />

    <add key="Environment" value="Local" />
    <add key="LogLevel" value="Debug" />

    <add key="CertiPay.Services.PDF" value="http://localhost:8086" />
    
    <!--ABCPDF License - This is a must have for this service to work properly.-->
    <add key="ABCPDF-License" value=""/>
    
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>